/*Etch-a-Sketch (Odin Project) */
/* by Lorenzo Cane */
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F7D197;
}

h1{
    color: #C90404;
    font-size: 40px;
    font-family: "Fontdiner Swanky", serif;
    text-align: center;
}

.buttonContainer{
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
}

button{
    background-color: beige;
    color: black;
    width: 150px;
    font-size: 15px;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    margin: 5px;
    height: 50px;
}
button:active{
    background-color: #C90404;
    transform: Y;
}

.mainContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    height: 720px;
    width: 720px;
    border: 3px solid;
    margin-bottom: 10px;
}

.square{
    box-sizing: border-box;
}

.footer{
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    margin: 5px;
}